//- 
    Миксин карточки товара.
    Входные данные: состояние карточки, начинка, описание лакомства, кол-во порций, кол-во подарочных мышей, настроение заказчика и вес лакомства.

mixin kote-card(filler, amount, promoRats, mood, weight)
    span.kote-food__head Сказочное заморское яство
    span.kote-food__name Нямушка
    span.kote-food__filler= filler

    if (amount === 1)
        span.kote-food__amount!= `<b>${amount}</b> порция`
    else if (amount > 1 && amount < 5)
        span.kote-food__amount!= `<b>${amount}</b> порции`
    else if (amount >= 5)
        span.kote-food__amount!= `<b>${amount}</b> порций`

    if (promoRats === 1)
        span.kote-food__promo-rat мышь в подарок
    else if (promoRats > 1 && promoRats < 5)
        span.kote-food__promo-rat!= `<b>${promoRats}</b> мыши в подарок`
    else if (promoRats >= 5)
        span.kote-food__promo-rat!= `<b>${promoRats}</b> мышей в подарок`
    if (mood)
        span.kote-food__customer-mood заказчик доволен

    .kote-food__weight
        span.kote-food__weight-num= weight
        span.kote-food__weight-unit кг

mixin kote(status, filler, desc, amount, promoRats, mood, weight, idx)
    div(class="kote-food" data-id=idx)
        if (status === 'selected' || status === 'disabled')
            div(class=`kote-food__pack_${status}`)
                +kote-card(filler, amount, promoRats, mood, weight)
        else
            .kote-food__pack
                +kote-card(filler, amount, promoRats, mood, weight)

        if (status === 'selected')
            p.kote-food__msg= desc
        else if (status === 'disabled')
            p.kote-food__msg= `Печалька, ${filler} закончился.`
        else
            p.kote-food__msg Чего сидишь? Порадуй котэ, 
                span.kote-food__msg-btn 
                    b купи.